<% provide :title, t("btn.users") %>
<h1><%= t "btn.users" %></h1>
<%= paginate @users, theme: "twitter-bootstrap-4" %>
  <ul class="users"><%= render @users %></ul>
<%= paginate @users, theme: "twitter-bootstrap-4" %>
